 .bullet__item {
     width       : 89px;
     margin-right: 15px;
 }

 .bullet__item--title {
     text-decoration: none;
     font-size      : 12px;
     text-align     : center;
 }

 .bullet__item--image {
     width: 80px;
 }

 .bullet__item--link {
     color          : black;
     text-decoration: none;
 }

 @media screen and (min-width: 760px) {

     .bullet__item,
     .bullet__item--image {
         width    : 80px;
         min-width: 80px;
     }
 }

 .bullet__container {
     display        : flex;
     overflow       : auto;
     align-items    : center;
     margin-bottom  : 30px;
     justify-content: space-between;
 }

 .bullet__container::-webkit-scrollbar {
     height: 4px;
 }

 .bullet__container::-webkit-scrollbar-track,
 .bullet__container::-webkit-scrollbar-thumb {
     background-clip : padding-box;
     background-color: #dfdfdf;
     border-right    : 16px solid transparent;
     border-left     : 16px solid transparent;
 }

 .bullet__container::-webkit-scrollbar-thumb {
     background-color: #797979;

 }